.colorSection {
  padding: 0px 20px;
  margin: 10px;
  border-style: outset;
  border: 5px outset #2A52BE;
  button {
    padding: 5px;
    border: 1px solid #EFA94A;
    background-color: #FADFAD;
    color: #641C34;
    font-family: 'Jost', sans-serif;
    cursor: pointer;
  }
}

.color {
  width: 200px;
  height: 50px;
  margin-top: 10px;
}

.color-details {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.color-details h1 {
  color: white;
  text-shadow: 2px 2px 7px black;
  font-size: 2em;
  margin: 0.5em;
}
